$maincolor:#333;

$nav-background:$maincolor;

$nav-text-color:#FFF;

$clock-text-size:4.5rem;

$clock-text-margin:$clock-text-size - 1;

.page-title{
  font-family: 'helvetica neue';
  font-weight: 100;
  font-size: 3.5rem;
  padding: 0;
  color:#333;
  margin:2rem 0 0 0;
  text-align:center;
}

.button{
  outline: none;
}
