.countdown-form{
  width:100%;
}

.form-wrapper{
  width:16rem;
  margin:20px auto 0 auto;
}

.form-wrapper input{
  margin:0 0 5px 0;
}

.form-wrapper input[type="submit"]{
  text-transform: uppercase;
}
